html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

div,
span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
